<div class="container mt-4">
    <h2 class="text-center">Gruppenübersicht</h2>

    <div class="table-responsive">
        <table class="table table-dark mt-3">
            <thead>
                <tr>
                    <th>Benutzername</th>
                    <th>Rollen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.name }}</td>
                    <td>
                        <span *ngFor="let role of user.roles" 
                              class="badge p-2 me-1 text-white"
                              [style.backgroundColor]="getRoleColor(role)">
                            {{ role }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>





